@import url("./token.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  height: 100vh;
  width: 100vw;
  gap: 0;
  padding: 20px;
  border: 1px solid var(--color-dark-border);
  background: var(--color-dark-grid);
}

.path {
  background: var(--color-node-processing) !important;
}

.cell {
  box-sizing: border-box;
  background-color: var(--color-grid-bg);
}

.cell:hover {
  background: var(--color-grid-highlight);
}

.src,
.src:hover {
  background: var(--color-node-start) !important;
}

.dest,
.dest:hover {
  background: var(--color-node-end) !important;
}

.click__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.visualize__btn,
.clear__canvas__btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 4px;
  align-self: center;
  background: var(--color-node-path);
  cursor: pointer;
}

.clear__canvas__btn {
  width: 100px;
  background: #c0eb75;
}
